/*Comentário no CSS*/

/*
seletor{
    propriedade : valor;
}
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222831; /*cor de fundo*/
    margin: 0;
}

.perfil{
    /*border-color: #222831;
    border-style: solid;
    border-width: 5px;*/

    border: solid 5px #222831;
    border-radius: 50%; /*arredonda a imagem*/
}

.principal{
    width: 340px; /*largura*/
    height: 501px; /*altura*/
    background-color: #EEEEEE;
    text-align: center;

    /*HACK / DICA para centralizar uma div horizontalmente*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
}

.texto{
    margin-top: 30px;
    margin-bottom: 30px;
}

h1{    
    color: #393E46; /*cor do texto*/
    font-size: 32px;  
    margin: 0; /*removendo a margem padrão*/
}

h2{
    color: #222831;
    font-size: 20px;
    margin: 0;
}

p{    
    color: #666666;
    font-size: 16px;
}



.menu{
    margin-bottom: 30px;
}

/*Formatando TODOS os <a> que estão DENTRO do menu*/
.menu a{
    text-decoration: none; /*retira o sublinhado padrão dos links*/
    color: #ffffff;
    background-color: #393E46;
    display: block;
    margin-bottom: 5px;
    padding-top: 10px;  /*espaçamento interno*/
    padding-bottom: 10px;
    border-radius: 3px;
}

/*Formatando os links do menu ao passar o mouse*/
.menu a:hover{
    background-color: #000000;
}

.credito{
    color: #222831;
}

